.php-console-stdout {
	margin: 5px;
	padding: 5px;
	border: 1px solid #888888;
}

.php-console-stderr {
	margin: 5px;
	padding: 5px;
	border: 1px solid #888888;
	color:red;
}

.maxWidth {
    width: 100%;
}

div#delete-confirm-error {
    display:none;
}