<html>
<head>
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="admin_plugins_menu/phprunner.admin.section"/>
    <meta name="admin.active.tab" content="phprunner.admin.item.webserver"/>
	<title>#if(${config.get("action")} == "edit")
        $i18n.getText('phprunner.webserver.edit.title')
	#else
        $i18n.getText('phprunner.webserver.add.title')
	#end</title>
</head>
<body>

<header class="aui-page-header"><h2>
#if(${config.get("action")} == "edit")
    $i18n.getText('phprunner.webserver.edit.title')
#else
    $i18n.getText('phprunner.webserver.add.title')
#end
</h2></header>

<span class="global-errors-location">
    #if ($action.getHasErrorMessages())
        #foreach ($error in $action.getFlushedErrorMessages())
            <div class="aui-message aui-message-error">
                <p class="title">
                    <strong>Error!</strong>
                </p>
                <p>$textutils.htmlEncode(${error})</p>
            </div>			
        #end
    #end
</span>

<form class="aui" id="php-wscontext-form" method='post' action='${action.actionName}!${config.get("action")}.jspa'>
<input type="hidden" name="id" value="$!{entityParams.id}">
<input type="hidden" name="action" value="save">
<table width='100%'>
<tr>
	<td>
        <div class="field-group">
			<label>$i18n.getText("phprunner.webserver.context.label")</label>
            <input name="context" type="text" class="text long-field" value="$textutils.htmlEncode($!{entityParams.context})">
            <div class="description">$i18n.getText("phprunner.webserver.context.description")</div>
        </div>

        <div class="field-group">
			<label>$i18n.getText("phprunner.webserver.documentroot.label")</label>
            <input name="documentRoot" type="text" class="text long-field" value="$textutils.htmlEncode($!{entityParams.documentRoot})">
            <div class="description">$i18n.getText("phprunner.webserver.documentroot.description")</div>
        </div>
		
        <div class="field-group">
			<label>$i18n.getText("phprunner.webserver.requiresauthenticateduser.label")</label>
            <input name="requiresAuthenticatedUser" type="checkbox" class="checkbox" value="true" #if ($!{entityParams.requiresAuthenticatedUser} == "true") checked#end>
            <div class="description">$i18n.getText("phprunner.webserver.requiresauthenticateduser.description")</div>
        </div>
		
        <div class="field-group">
			<label>$i18n.getText("phprunner.webserver.requireswebsudo.label")</label>
            <input name="requiresWebSudo" type="checkbox" class="checkbox" value="true" #if ($!{entityParams.requiresWebSudo} == "true") checked#end>
            <div class="description">$i18n.getText("phprunner.webserver.requireswebsudo.description")</div>
        </div>
		
		#if(${config.get("action")} == "edit")
            <input id="listener-submit" class="button submit" type="submit" value="$i18n.getText('common.words.save')">
		#else
            <input id="listener-submit" class="button submit" type="submit" value="$i18n.getText('common.words.add')">
		#end
        <a class="cancel" href="${actionName}.jspa">$i18n.getText('common.words.cancel')</a>

	</td>
	<td valign='top' width='400px'>
		<h4>Bindings</h4>
			<i>&#36;log, &#36;httpServletRequest, &#36;httpServletResponse, &#36;loggedInUser</i>

			<p>
			&#36;loggedInUser-&gt;displayName;;<br>  
			&#36;log-&gt;warn("Hello atlassian-jira.log!");<br>
	</td>
</tr>
</table>	
</form>

#if(${config.get("action")} == "edit")
<hr>
<form class="aui" id="php-listner-delete-form" method='post' action='${action.actionName}!delete.jspa'>
<input type="hidden" name="id" value="${entityParams.id}">
<div class="field-group">
	<label>$i18n.getText("phprunner.listener.remove.confirm")</label>
    <input type="checkbox" name="confirm" id="listener-delete-confirm"> $i18n.getText('')
	<div class="error" id="delete-confirm-error">$i18n.getText("phprunner.listener.remove.confirm.error")</div>    
</div>
<input id="listener-delete-submit" class="button submit" type="submit" value="$i18n.getText('common.words.delete')">
</form>
#end

</body>
</html>