<html>
<head>
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="admin_plugins_menu/phprunner.admin.section"/>
    <meta name="admin.active.tab" content="phprunner.admin.item.webserver"/>
    <title>$i18n.getText('phprunner.webserver.title')</title>
</head>
<body>

<header class="aui-page-header"><h2>$i18n.getText('phprunner.webserver.title')</h2></header>

<a href="$actionName!add.jspa">$i18n.getText('phprunner.webserver.link.add')</a>

<table class="aui">
     <thead>
        <tr>
            <th> $i18n.getText("phprunner.webserver.context.label") </th>
            <th> $i18n.getText("phprunner.webserver.documentroot.label") </th>
            <th> $i18n.getText("phprunner.webserver.requiresauthenticateduser.label") </th>
            <th> $i18n.getText("phprunner.webserver.requireswebsudo.label") </th>
            <th> $i18n.getText("admin.common.words.edit") </th>
        </tr>
    </thead>
	<tbody>
		#foreach($entity in $action.getAllEntities())
			<tr>
				<td><a target='_blank' href="${action.getContextLink($entity.context)}">${entity.context}</a></td>
				<td>${entity.documentRoot}</td>
				<td>#if(${entity.requiresAuthenticatedUser})<span class="aui-icon aui-icon-small aui-iconfont-success"></span>#end</td>
				<td>#if(${entity.requiresWebSudo})<span class="aui-icon aui-icon-small aui-iconfont-success"></span>#end</td>
				<td> <a href="$actionName!edit.jspa?id=${entity.ID}"> $i18n.getText("admin.common.words.edit") </a> </td>
			</tr>
		#end
    </tbody>
</table>

</body>
</html>
	
